
[submodule "SOIA/ThirdParty/cppcheck"]
	path = SOIA/ThirdParty/cppcheck
	url = https://github.com/danmar/cppcheck.git
[submodule "SOIA/ThirdParty/soia-unittest-cpp"]
	path = SOIA/ThirdParty/soia-unittest-cpp
	url = https://MxmUrw@bitbucket.org/zustudio/soia-unittest-cpp.git
[submodule "SOIA/ThirdParty/soia-cppcheck-target-cmake"]
	path = SOIA/ThirdParty/soia-cppcheck-target-cmake
	url = https://MxmUrw@bitbucket.org/zustudio/soia-cppcheck-target-cmake.git
[submodule "SOIA/ThirdParty/glfw"]
	path = SOIA/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SOIA/ThirdParty/Simple-OpenGL-Image-Library"]
	path = SOIA/ThirdParty/Simple-OpenGL-Image-Library
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library.git
[submodule "SOIA/ThirdParty/freetype"]
	path = SOIA/ThirdParty/freetype
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "SOIA/ThirdParty/soia-glew-cmake"]
	path = SOIA/ThirdParty/soia-glew-cmake
	url = https://MxmUrw@bitbucket.org/zustudio/soia-glew-cmake.git
