/SOIA/*Build*/*
/SOIA/Intermediate/*
/SOIA/Documentation/GeneratedDocumentation/*
/SOIA/ThirdParty_DEPRECATED/*
/**/*.d
/**/*.obj
/**/*.exe
/**/*.dll
/**/*.opensdf
/**/*.pdb
/**/*.ilk
/**/*.exp
/**/*.lib