/*Build*/*
/*build*/*
/SOIA/*Build*/*
/SOIA/*build/*
/SOIA/Pool/*
/SOIA/Intermediate/*
/SOIA/Documentation/GeneratedDocumentation/*
/SOIA/ThirdParty_DEPRECATED/*
/SOIA/ThirdParty/Build_*/
/**/*.d
/**/*.obj
/**/*.exe
/**/*.dll
/**/*.opensdf
/**/*.pdb
/**/*.ilk
/**/*.exp
/**/*.lib
/**/*.zip
/**/*.tar.gz
/**/*~
