
[submodule "SOIA/ThirdParty/soia-unittest-cpp"]
	path = SOIA/ThirdParty/soia-unittest-cpp
	url = https://MxmUrw@bitbucket.org/zustudio/soia-unittest-cpp.git
[submodule "SOIA/ThirdParty/glfw"]
	path = SOIA/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SOIA/ThirdParty/Simple-OpenGL-Image-Library"]
	path = SOIA/ThirdParty/Simple-OpenGL-Image-Library
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library.git	
[submodule "SOIA/ThirdParty/soia-glew-cmake"]
	path = SOIA/ThirdParty/soia-glew-cmake
	url = https://MxmUrw@bitbucket.org/zustudio/soia-glew-cmake.git
[submodule "SOIA/ThirdParty/freetype2"]
	path = SOIA/ThirdParty/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "SOIA/Ressources"]
	path = SOIA/Ressources
	url = https://MxmUrw@bitbucket.org/zustudio/soia_ressources.git
